pytest
pylint
pytest-cov
pytest-flask
pandas
nbval
flask
waitress
requests
google-cloud-storage
google-cloud-bigquery
google-cloud-logging
bs4
flasgger
PyJWT
locust
pyarrow
dash
dash-bootstrap-components