pytest
pylint
jupyter
pytest-cov
pytest-flask
pandas
nbval
click
flask
requests
google-cloud-storage
google-cloud-bigquery
google-cloud-logging
bs4
flasgger
google-api-python-client
locust
pyarrow
dash
dash-bootstrap-components
black